<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ConnServlet </servlet-name>
        <servlet-class>uts.isd.controller.ConnServlet </servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>uts.isd.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>uts.isd.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffLoginServlet</servlet-name>
        <servlet-class>uts.isd.controller.StaffLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffLogoutServlet</servlet-name>
        <servlet-class>uts.isd.controller.StaffLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrowseServlet</servlet-name>
        <servlet-class>uts.isd.controller.BrowseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderHistoryServlet</servlet-name>
        <servlet-class>uts.isd.controller.OrderHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>uts.isd.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffRegisterServlet</servlet-name>
        <servlet-class>uts.isd.controller.StaffRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupplierServlet</servlet-name>
        <servlet-class>uts.isd.controller.SupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSupplierServlet</servlet-name>
        <servlet-class>uts.isd.controller.AddSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCartServlet</servlet-name>
        <servlet-class>uts.isd.controller.addCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccLogsServlet</servlet-name>
        <servlet-class>uts.isd.controller.AccLogsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewCartServlet</servlet-name>
        <servlet-class>uts.isd.controller.viewCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProductServlet</servlet-name>
        <servlet-class>uts.isd.controller.editProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCartServlet</servlet-name>
        <servlet-class>uts.isd.controller.deleteCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewProductServlet</servlet-name>
        <servlet-class>uts.isd.controller.viewProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteProdServlet</servlet-name>
        <servlet-class>uts.isd.controller.deleteProdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSupplierServlet</servlet-name>
        <servlet-class>uts.isd.controller.DeleteSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>uts.isd.controller.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>uts.isd.controller.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDetailsServlet</servlet-name>
        <servlet-class>uts.isd.controller.EditDetailsServlet</servlet-class>
    </servlet>
    
    
    
    <!--Servlet Mapping-->
    <servlet-mapping>
        <servlet-name> ConnServlet </servlet-name>
        <url-pattern> /ConnServlet </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffLoginServlet</servlet-name>
        <url-pattern>/StaffLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffLogoutServlet</servlet-name>
        <url-pattern>/StaffLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrowseServlet</servlet-name>
        <url-pattern>/BrowseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderHistoryServlet</servlet-name>
        <url-pattern>/OrderHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffRegisterServlet</servlet-name>
        <url-pattern>/StaffRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupplierServlet</servlet-name>
        <url-pattern>/SupplierServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSupplierServlet</servlet-name>
        <url-pattern>/AddSupplierServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCartServlet</servlet-name>
        <url-pattern>/addCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccLogsServlet</servlet-name>
        <url-pattern>/AccLogsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewCartServlet</servlet-name>
        <url-pattern>/viewCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProductServlet</servlet-name>
        <url-pattern>/editProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCartServlet</servlet-name>
        <url-pattern>/deleteCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewProductServlet</servlet-name>
        <url-pattern>/viewProductServlet</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>deleteProdServlet</servlet-name>
        <url-pattern>/deleteProdServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSupplierServlet</servlet-name>
        <url-pattern>/DeleteSupplierServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/DeleteProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/ProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDetailsServlet</servlet-name>
        <url-pattern>/EditDetailsServlet</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>  
